/* GENERAL */
*{margin:0;padding:0;}
#page{
  width: 1000px;
  margin:0 auto;
  min-height: 400px;
}
/* NAVIGATION */
#nav{
  margin-top:15px;
  height:41px;  
}
#nav a{
  text-decoration: none;
  font-weight: 700;
}
a#logo{
  color: black;
  font-family: 'Roboto Slab', serif;
}
a#logo:hover{
  color:#999;
}
#nav a.menu{
  font-family: 'Karla', sans-serif;
  float: right;
  margin-top:3px;
  margin-left: 35px;
  color:#999;
  font-size: 12px;
}
#nav a.menu:hover{
    color:black;
}
/* JUMBOTRON */
#jumbotron{
  height: 500px;
  overflow: hidden;
  position: relative;
}
#jumbotron img{
  display: inline-block;
  width: 100%;
}
#jumbotron #blue-guy{
  position: absolute;
  background-image: url("blue.png");
  width:50%;
  height: 100%;
  top: 0;
  right: 0;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  color:white;
}
#inner{
  font-family: 'Karla', sans-serif;
  font-weight: 400;
  font-size: 10px;
  margin-top: 200px;
  margin-left: 45px;
  letter-spacing: 3px;
}
#blue-2{
  font-family: 'Roboto Slab', serif;
  font-size: 27px;
  margin-top:12px;
}
#blue-3{
  letter-spacing: normal;
  margin-top:20px;
  width: 80%;
  line-height: 21px;
  font-size: 11px;
}
#blue-4{
  font-family: 'Vollkorn', serif;
  font-weight: 400;
  font-style: italic;
  letter-spacing: 1px;
  font-size: 11px;
  margin-top:28px;
}
/*SHOOTING.RANGE*/
.range{
  height:305px;
  width: 800px;
  margin: 50px auto 0 auto;
}
.range a{
  text-decoration: none;
}
.range h5{
  color:#999;
  font-family: 'Vollkorn', serif;
  font-weight: 400;
  font-style: italic;
}
.range h2{
  font-family: 'Roboto Slab', serif;
  font-weight: 700;
  font-size: 18px;
  margin-top: 12px;
  letter-spacing: 3px;
  color: black;
}
.shot{
  margin-top: 35px;
  width:184px;
  float: left;
  margin-left: 21px;
  display: inline-block;
  overflow: hidden;
  text-align: center;
}
.shot img{
  width: 188px;
  height: 188px;
}
.range .shot:nth-of-type(1){
  margin-left: 0;
}

.shot .title{
  font-family: 'Roboto Slab', serif;
  font-weight: 700;
  color: black;
  margin-top:16px;
  font-size: 12px;
}
.shot .price{
  font-family: 'Vollkorn', serif;
  font-weight: 400;
  color:#999;
  margin-top:10px;
  font-size: 12px;
}
/* Affiliates (aff) */
#aff{
  margin-top:55px;
}
#aff .guy{
  float: left;
  width:100px;
  height: 100px;
  margin-left:49px;
  margin-bottom: 50px;
}
#aff .guy img{
  width: 100%;
}
#aff .guy:nth-of-type(1){
  margin-left: 0;
}
/* Spit Barz */
.barz{
  width: 300px;
  height: 90px;
  background-color:#f6f6f6;
  float: left;
  display: inline-block;
  margin-left: 50px;
  background-image:url("b2.png");
  background-repeat: no-repeat;
  background-position: 6px 22px; 
}
#spit .barz:nth-of-type(1){
  margin-left: 0;
  background-image:url("b1.png");
}
#spit .barz:nth-of-type(3){
  background-image:url("b3.png");
}
.barz .top{
  font-family: 'Roboto Slab', serif;
  font-weight: 700;
  letter-spacing: 2px;
  font-size: 13px;
  margin-left:78px;
  margin-top: 29px;
}
.barz .bottom{
  font-family: 'Vollkorn', serif;
  font-weight: 400;
  font-style: italic;
  color:#999;
  font-size: 13px;
  margin-left:78px;
  margin-top:6px;
}
/* footer */
.map{
  margin-top:26px;
}
#footer{
  background-color:#272727;
  height: 65px;
  margin-top:26px;
}
#footer .feet{
  color:#999;
  text-decoration: none;
  font-family: 'Karla', sans-serif;
  font-weight: 700;
  font-size: 10px;
  letter-spacing: 1px;
  width: 93px;
  display: inline-block;
  text-align: center;
  float: left;
  margin-top: 28px;
  margin-left: 7px;
}
#footer .feet:hover{
  color:white;
}