			<div id="minitron">
				<div id="little-text">Home <span>/</span> Shop Style</div>
				<div id="big-text">SHOP STYLE</div>
			</div> <!-- minitron end -->
			<div id="wutrdoez">
				All Products
			</div>
			<div class="keeper">
				<div class="square"></div>
				<div class="square"></div>
				<div class="square"></div>
				<div class="square"></div>
			</div>
			<div class="keeper">
				<div class="square"></div>
				<div class="square"></div>
				<div class="square"></div>
				<div class="square"></div>
			</div>
			<div class="keeper">
				<div class="square"></div>
				<div class="square"></div>
				<div class="square"></div>
				<div class="square"></div>
			</div>
			<div class="keeper">
				<div class="square"></div>
				<div class="square"></div>
				<div class="square"></div>
				<div class="square"></div>
			</div>